/*estilos-footer*/ 
    footer{ background-color:grey;
        display: flex;
        
        .redes-grid{
            img{
                width: 40px;         
            }
            display: grid;
            grid-template-columns:repeat(3,1fr);
            align-items: center;
            justify-items: center;
            margin-block: 50px;
            gap: 10px;
        }    
    }
